@import "abstracts/variables";
@import "base/reset";

body {
  background: #282a36;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
dl,
dd {
  color: #f1e37d;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 50%;
  }
}
